/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
弹出框参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@popover-background : #fff ;  //弹出框整体背景色
@popover-border-color : #c7c7c7 ;  //弹出框整体边框色
@popover-title-background : #f7f7f7 ;  //弹出框标题背景色
@popover-shadow-color : rgba(0, 0, 0, 0.176) ;  //弹出框阴影颜色
@popover-title-bottom-border-color : #ebebeb ;  //弹出框title的底部边框颜色 