/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
表格参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@table-caption-font-size : 18px ;
@table-border-color : #ddd ;
@table-padding : 6px ;
@table-condensed-padding : 3px ;