<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="../../css/app.min.css">
        <title>dialog框的demo</title>
    </head>
    <body>
        <div class="wkzf-dialog-mask"></div>
        <div class="wkzf-dialog">
            <div class="dialog-header">警告</div>
            <div class="dialog-body">AlphaGo 就是天网的前身，人类要完蛋了！</div>
            <div class="dialog-footer">
                <a href="javascript:void(0);">确定</a>
            </div>
        </div>
        <script src="../../js/app.min.js"></script>        
    </body>
</html>