<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="../../css/app.min.css">
        <title>panel的demo</title>
    </head>
    <body>
        <section class="wkzf-panel top-gap">
            <div class="panel-header">带头、内容、更多按钮的组合</div>
            <div class="panel-body">
                <div class="panel-item thumbs">
                    <img src="http://www.atool.org/placeholder.png?size=200x150&bg=cccccc&fg=fff" class="item-thumb">
                    <h4>标题文字1</h4>
                    <p class="text-ellipsis">北京地铁6号线呼家楼站的站台上，年仅34岁的天涯论坛副主编金波突然晕倒，失去意识</p>
                </div>
                <div class="panel-item thumbs">
                    <img src="http://www.atool.org/placeholder.png?size=200x150&bg=cccccc&fg=fff" class="item-thumb">
                    <h4>标题文字2</h4>
                    <p>创建： 黄 夕笛 [UED]，最新修改于： 2016年五月30日</p>
                </div>
            </div>
            <a class="panel-more selectable-flag" href="javascript:void(0);">查看更多</a>
        </section>       
        <section class="wkzf-panel top-gap">
            <div class="panel-header">文字组合</div>
            <div class="panel-body">
                <div class="panel-item">                    
                    <h4>标题文字1</h4>
                    <p>北京地铁6号线呼家楼站的站台上，年仅34岁的天涯论坛副主编金波突然晕倒，失去意识</p>
                </div>
                <div class="panel-item">                    
                    <h4>标题文字2</h4>
                    <p>创建： 黄 夕笛 [UED]，最新修改于： 2016年五月30日</p>
                </div>
            </div>
            <a class="panel-more selectable-flag" href="javascript:void(0);">查看更多</a>
        </section>
            
    </body>
</html>