<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="../../css/app.min.css">       
        <title>tabs页的demo</title>
    </head>
    <body>
        <div class="wkzf-tabs">
            <ul class="tabs-handle">
                <li class="on"><a href="#">英超</a></li>
                <li><a href="#">意甲</a></li>
                <li><a href="#">欧洲杯</a></li>
            </ul>
            <div class="tabs-frame"></div>
            <div class="tabs-frame"></div>
            <div class="tabs-frame"></div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <script src="../../js/app.min.js"></script>  
        <script>
            $(".wkzf-tabs").tabs({
                "fixedWhenScroll": true
            });
        </script>     

    </body>
</html>