/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：droptree (下拉树形菜单)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：variables (风格变量)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1-h6参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
面包屑参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
按钮通用参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
大按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
默认按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
小按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
迷你按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
默认品牌按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
主要品牌按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
信息品牌按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
成功品牌按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
警告品牌按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
危险品牌按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
反向品牌按钮参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
表单默认参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
大控件参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
小控件参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
下拉菜单参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
控件addon参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
字体颜色全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
字体family全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
字体大小全局参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
链接参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
分页器参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
表格参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
下拉菜单参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
弹出框参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
标签页参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
下拉树形菜单参数
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：mixins (混合)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：background.less(混合 -> 背景类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：background.less(混合 -> 圆角类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：background.less(混合 -> 块级化并居中类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1.  项目名称：guanaihui前端MVC框架
 2. 文件名称：background.less(混合 -> 显示方式类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：float.less(混合 -> 浮动类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：background.less(混合 -> 字体类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：background.less(混合 -> 文本类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：background.less(混合 -> 三角符号类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.drop-tree {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: inline-block;
  *display: inline ;
  *zoom: 1 ;
  position: relative ;
  vertical-align: middle ;
}
.drop-tree .tree-handle {
  cursor: pointer ;
  float: right ;
  height: 32px;
  line-height: 32px;
  text-align: center ;
  width: 32px;
}
.drop-tree .selected-label {
  line-height: 32px;
  padding: 0 5px ;
  /*
    *截取文本用省略号追加在后面
    */
  overflow: hidden ;
  white-space: nowrap ;
  text-overflow: ellipsis ;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis ;
  -moz-binding: url("ellipsis.xml#ellipsis");
}
.drop-tree .tree-container {
  background: #fff ;
  box-sizing: content-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  border: 1px solid #cccccc;
  max-height: 300px;
  _height: expression( this.offsetHeight > 300 ? '300px' : 'auto') ;;
  overflow: auto ;
  position: absolute ;
  top: 32px;
  visibility: hidden ;
}
