/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：guanaihui前端MVC框架
 2. 文件名称：tagswitch (tag形式的复选框)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：ttpai前端MVC框架
 2. 文件名称：mixins (混合)
 3. 作者：huagang.zhao@51auto.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：ttpaicdn.com
 2. 文件名称：background.less(混合 -> 背景类)
 3. 作者：huagang.zhao@51auto.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：ttpaicdn.com
 2. 文件名称：background.less(混合 -> 圆角类)
 3. 作者：huagang.zhao@51auto.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：ttpaicdn.com
 2. 文件名称：background.less(混合 -> 块级化并居中类)
 3. 作者：huagang.zhao@51auto.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：ttpaicdn.com
 2. 文件名称：background.less(混合 -> 显示方式类)
 3. 作者：huagang.zhao@51auto.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：ttpaicdn.com
 2. 文件名称：background.less(混合 -> 浮动类)
 3. 作者：huagang.zhao@51auto.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：ttpaicdn.com
 2. 文件名称：background.less(混合 -> 字体类)
 3. 作者：huagang.zhao@51auto.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：ttpaicdn.com
 2. 文件名称：background.less(混合 -> 文本类)
 3. 作者：huagang.zhao@51auto.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：ttpaicdn.com
 2. 文件名称：background.less(混合 -> 三角符号类)
 3. 作者：huagang.zhao@51auto.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.tag-switch {
  background: #fff ;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc ;
  display: inline-block;
  *display: inline ;
  *zoom: 1 ;
  margin: 5px 5px 0 0 ;
  position: relative ;
  text-decoration: none ;
}
.tag-switch:hover {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  text-decoration: none ;
}
.tag-switch.on {
  border-color: rgba(0, 153, 0, 0.8);
}
.tag-switch .description {
  font: normal normal normal 12px/22px microsoft yahei, simsun;
  display: inline-block;
  *display: inline ;
  *zoom: 1 ;
  padding: 0 10px ;
}
.tag-switch .sign {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: rgba(0, 153, 0, 0.7);
  color: #fff ;
  font-size: 11px ;
  height: 16px ;
  line-height: 16px ;
  display: inline-block;
  *display: inline ;
  *zoom: 1 ;
  right: -8px;
  position: absolute ;
  top: 3px ;
  visibility: hidden ;
  width: 16px ;
}
